# Python virtual environment
venv/
env/
ENV/
.venv

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Python distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs and databases
Lab2/d0.mat
Lab2/d1.mat
Lab2/d2.mat
Lab2/d3.mat
Lab2/d4.mat  
Lab2/d5.mat
Lab2/d6.mat
Lab2/d7.mat
Lab2/d8.mat
Lab2/d9.mat
Lab2/diag5x5.mat
Lab2/ocra.mat

# Database files
MiniProjet/TrainIJCNN2013/

# TensorFlow saved models
*.keras